{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/deco.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="">
	<div class="topnav">
	<a class="active" href="/">Home</a>
  <a href="/blog/">Blogs</a>
  <a href="/contact/">Contact</a>
  <a href="/about/">About</a>
  <a href="/post/">Posts</a>
  <a href="/gallery/">Gallery</a>
  <a href="/products/">Products</a>
  <!-- <a href="/survey/">Survey</a> -->
  <a href="/services/">Services</a>
  <a href="/career/">Career</a>
  <!-- <a href="/create/">Create</a> -->
  
  	</div>
<h1 style="color:blue">Welcome to my website</h1>
<div class="container-fluid">
  
{% block content %}
{% endblock %}
</div>
</body>
</html>