{% extends 'base.html' %}



{% block content %}
<a href="/blog/"><button>Back</button></a>
<h2>{{blogobject.title}}</h2>
<p>Published on:<b>{{blogobject.published_on}}</b></p>
<img src="{{blogobject.image.url}}" width="400" >
<p>{{blogobject.description}}</p>
<hr>
<p>Author:{{blogobject.author}}</p>

{% endblock %}