{% extends 'base.html' %}



{% block content %}
<a href="/create"><b>Create Blog</b></a><hr>
<h2>All Blogs</h2>
{% for i in allblogs %}
<b><li><a href="/blog/{{i.id}}/detail/">{{i.title}}</a> (<a href="/blog/{{i.id}}/update/">Update</a>)</li></b>
<b><p>{{i.published_on}}</p></b>
{% endfor %}
{% endblock %}