{% extends 'base.html' %}

{% block title %}
       	Contact-Us
		{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-4 mx-auto">
		<b><u>Contact-Us</u></b>
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-info">Contact</button>
		</form>
		
	</div>
	
</div>


{% endblock %}