{% extends 'base.html' %}



{% block content %}
<a href="/photocreate/"><button>Upload Photo</button></a><hr>
<div class="row">
{% for i in allphotos %}
<div class="col-md-3">
<a href="{{i.image.url}}" target="_blank"><img src="{{i.image.url}}" style="height: 250px; width: 200px;  object-fit: cover;"></a>
</div>
{% endfor %}
</div>
{% endblock %}
