{% extends "base.html" %}
{% block content %}

<h3>Photos</h3>
<div class="row">
{% for pht in photoobject.photo_set.all %}
 <div class="col-md-3">
<img src="{{pht.image.url}}" class="img-fluid"  style="height: 200px; object-fit: cover">
<p><b>{{pht.title}}</b></p>
</div>
{% endfor %}
</div>
{% endblock %}