{% extends 'base.html' %}



{% block content %}
<h2>Post Form</h2>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button>Submit Data</button>
</form>

{% endblock %}