{% extends 'base.html' %}



{% block content %}
<h2>All Posts</h2>
<a href="/create/post/">Create Post</a>
{% for i in allposts %}
<b><li><a href="/post/{{i.id}}/detail/">{{i.title}}</a><a href="/post/{{i.id}}/update/">            Update</a></li></b>
<b><p>{{i.created_on}}</p></b>
{% endfor %}
{% endblock %}