{% extends 'base.html' %}



{% block content %}
<h2>{{postobject.title}}</h2>
<p>Published on:<b>{{postobject.created_on}}</b></p>
<p>{{postobject.content}}</p>
<hr>
<p>Author:{{postobject.author}}</p>

{% endblock %}