
{% extends 'base.html' %}



{% block content %}
<h2>Registration Form</h2>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-primary">Submit</button>
</form>

{% endblock %}